.first-container{
    display: flex;
    align-items: center;
}
.details{
    padding: 5%;
    margin: 5%;
}
.comments-container{
    margin: 20px;
}
.btn{
    margin: 30px;
}
.charts{
    display: flex;
    margin: 20px;

}
.charts div{
    margin: 40px;

}

@media screen and (max-width: ) {
    
}

.spacing{
    margin-bottom: 20%;
}
