.links {
    margin:30px;
}
.link {
    text-decoration: none;
    margin:10px 20px 10px 20px;
    border: 2px solid green;
    padding:0px 5px;
    border-radius: 10px;
}
.link:hover{
    color: rgb(0, 0, 0);
    border: 3px solid rgb(6, 74, 6);
    padding: 0px 4px;
    border-radius: 15 px;
}

